{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="main_Leftbody">
    <section style="width: 100%;">
        <div class="information">
            <h2>金幣：<span id="money">{{ player.money }}</span></h2>
            <h2>等級：<span id="level">{{ player.level }}</span></h2>
            <h2>經驗：<span id="exp">{{ player.exp }}/ {{ next_level_exp }}</span></h2>
            <h2>天數：{{player.day}}</h2>
            <h2>
                目前階段：

                {% if player.phase == "buy" %}
                🛒 備貨中 剩餘 <span id="timer">{{ remaining }}</span> 秒
                {% else %}
                📦 接單中 剩餘 <span id="timer">{{ remaining }}</span> 秒
                {% endif %}
            </h2>

            {% if is_dev %}
            <h3>🧪 測試模式</h3>
            {% if player.debug_mode %}
            <p style="color:green;">DEBUG ON</p>

            <a href="{% url 'force_phase' 'buy' %}">
                <button>切換到備貨</button>
            </a>

            <a href="{% url 'force_phase' 'sell' %}">
                <button>切換到接單</button>
            </a>

            {% else %}
            <p style="color:red;">DEBUG OFF</p>
            {% endif %}

            <a href="{% url 'toggle_debug' %}">
                <button>切換 Debug 模式</button>
            </a>
            {% endif %}
        </div>
    </section>



    <!-- <section
        style="overflow: hidden;width: 100%;border: 2px solid #000; border-radius: 5px; margin-bottom: 10px;padding: 10px;">
        <h2 style="margin-bottom: 10px;">熱銷排行</h2>
        {% for product, qty in hot_products %}
        <p>
            {{ forloop.counter }}.
            {{ product.name }} ｜ {{ qty }}
        </p>
        {% endfor %}
    </section> -->


    {% if player.phase == "buy" %}

    <section class="section_card">

        {% for product in products %}

        <div class="card">

            <img src="{% static product.image %}" class="card_img">

            <div class="card_body">

                <h3 class="card_title">{{ product.name }}</h3>

                <p style="margin-bottom: 5px;">成本：{{ product.price }}金幣</p>

                <form action="{% url 'buy_product' product.id %}" method="post">

                    {% csrf_token %}
                    <input type="number" name="quantity" value="1" min="1" id="buy_product_input">

                    <button type="submit" class="order_submit">
                        訂貨
                    </button>

                </form>

            </div>

        </div>

        {% endfor %}

    </section>

    {% else %}
    <div style="margin-left: auto;">
        <form action="{% url 'refresh_orders' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="order_submit">
                🔄 刷新訂單（50金幣）
            </button>
        </form>
    </div>
    <section class="section_card">

        {% for order in orders %}

        <div class="card">
            <div>
                <img src="{% static order.product.image %}" class="card_img">
            </div>
            <div class="card_body">

                <h3>👤 {{ order.customer_name }}</h3>

                <p>商品：{{ order.product.name }}</p>

                <p>數量：{{ order.quantity }}</p>

                <p>獎勵：{{ order.reward }}金幣</p>

                <a href="{% url 'deliver_order' order.id %}" class="order_submit" >
                    <button class="order_submit">出貨</button>
                </a>

            </div>

        </div>
        {% endfor %}
    </section>
    {% endif %}
</section>
<aside>
    <div style="display: flex; justify-content: space-between;align-items: center;margin-bottom: 15px;">
        <h2>📦 庫存狀態</h2>
        <div>
            <h3>倉庫容量</h3>
            <p>{{ used_capacity }} / {{ capacity }}</p>
        </div>
    </div>
    {% for item in inventory_display %}
    <div class="product_stock_body">

        <h3>{{ item.name }}</h3>
        庫存：
        {% if item.qty > 10 %}
        🟢 {{ item.qty }}（充足）
        {% elif item.qty > 0 %}
        🟡 {{ item.qty }}（偏少）
        {% else %}
        🔴 缺貨
        {% endif %}

    </div>
    {% empty %}
    <p>倉庫是空的</p>
    {% endfor %}
</aside>
<div id="toast-container"></div>

<div id="tutorial">
    <div class="tutorial-box">
        <h2>📖 新手教學</h2>

        <p id="tutorialStep"></p>
        <p id="tutorialText"></p>

        <button onclick="nextTutorial()">下一步</button>
    </div>
</div>


<div id="achPopup" class="ach-popup">
    <div class="ach-box">
        <h2>🏆 成就解鎖</h2>

        <h3 id="achTitle"></h3>
        <p id="achDesc"></p>

        <p id="achReward"></p>

        <button onclick="nextAch()" class="ach-btn">
            OK
        </button>
    </div>
</div>
{{ request.session.achievement_queue|default:"[]"|json_script:"ach-data" }}
<script>



let queue = [];

const el = document.getElementById("ach-data");

if (el) {
    queue = JSON.parse(el.textContent);
}

if (!Array.isArray(queue)) {
    queue = [];
}

let showing = false;

function showAch() {
    if (queue.length === 0) return;

    document.getElementById("achPopup").style.display = "flex";

    document.getElementById("achTitle").innerText =
        "✨ " + queue[0].name;

    document.getElementById("achDesc").innerText =
        queue[0].desc || "達成條件！";

    document.getElementById("achReward").innerText =
        "💰 +" + queue[0].reward + " 金幣";

    showing = true;
}
function nextAch() {
    if (!Array.isArray(queue)) return;

    queue.shift();

    if (queue.length === 0) {
        document.getElementById("achPopup").style.display = "none";
    } else {
        showAch();
    }
}

document.addEventListener("DOMContentLoaded", () => {

    // console.log(queue);

    if (queue.length > 0) {
        showAch();
    }

});
</script>

{% if messages %}
{% for message in messages %}
<script>
    showToast("{{ message }}", "{{ message.tags }}");
</script>
{% endfor %}
{% endif %}
{% endblock content %}